.draggable {
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    user-select: none;
    width: 200px;
}
  
.draggable #header {
    padding: 10px;
    cursor: move;
    background-color: #21f3e2;
    color: #fff;
}